wynik_kujawsko-pomorskie.csv
filtered_wynik_kujawsko-pomorskie.csv
wynik_dolnoslaskie.csv
filtered_wynik_dolnoslaskie.csv
wynik_kujawsko-pomorskie.csv
filtered_wynik_kujawsko-pomorskie.csv
wynik_lubelskie.csv
filtered_wynik_lubelskie.csv
wynik_lubuskie.csv
filtered_wynik_lubuskie.csv
wynik_lodzkie.csv
filtered_wynik_lodzkie.csv
wynik_mazowieckie.csv
filtered_wynik_mazowieckie.csv
wynik_malopolskie.csv
filtered_wynik_malopolskie.csv
wynik_opolskie.csv
filtered_wynik_opolskie.csv
wynik_podkarpackie.csv
filtered_wynik_podkarpackie.csv
wynik_podlaskie.csv
filtered_wynik_podlaskie.csv
wynik_pomorskie.csv
filtered_wynik_pomorskie.csv
wynik_slaskie.csv
filtered_wynik_slaskie.csv
wynik_swietokrzyskie.csv
filtered_wynik_swietokrzyskie.csv
wynik_warminsko-mazurskie.csv
filtered_wynik_warminsko-mazurskie.csv
wynik_wielkopolskie.csv
filtered_wynik_wielkopolskie.csv
wynik_zachodniopomorskie.csv
filtered_wynik_zachodniopomorskie.csv
